<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script>
			var load = function(){};		
		</script>
	</head>
	<body onload="load();">
		<%- body %>
	</body>
</html>
